.title {
    font-size: 10vw;
    line-height: 1.3;
    font-weight: bold;
}

.cover {
    background: url('/hero.png') no-repeat center right;
    background-size: contain;
    padding: 10% 0;
}

@media screen and (min-width: 1200px) {
    .title {
       font-size: 144px;
    }
}

@media only screen and (max-width: 800px) {
    .cover {
        margin-bottom: 2rem;
    }
}