.button {
  background: #ffde7d;
  padding: 0.5em 2em;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.3s;
  cursor: pointer;
  color: black;

  &:hover {
    background: #00b8a9;
    color: #ffffff;
  }

  &:disabled {
    opacity: 0.5;
  }
}
