.buyCoffee {
  padding-top: 6.5rem;
  display: block;
  background: url('/buy_coffee.png') no-repeat top center;
  background-size: auto 5rem;
}

.button {
  background: #00b8a9;
  color: #ffffff;
  font-size: 1rem;
  padding: 1em 2rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
  display: block;

  &:hover {
    background: white;
    color: black;
  }
}
