.screenEgg {
  position: fixed;
  background: #ffde7d;
  display: inline-block;
  padding: 1rem;
  z-index: 99;
  cursor: pointer;
  border: 1px solid #ffffff;

  &:hover {
    transform: translate(0, 0);
  }
}

.right {
  padding-left: 2rem;
  transform: translate(calc(100% - 1.9rem), 0);
  top: 10%;
  right: 0;
  transition: transform 0.5s ease-out;
}

.left {
  padding-right: 1.9rem;
  transform: translate(calc(-100% + 1.9rem), 0);
  bottom: 10%;
  left: 0;
  transition: transform 0.3s ease-out;
}

@media only screen and (max-width: 800px) {
  .screenEgg {
    padding: 1rem;
    position: static;
    display: block;

    ul {
      display: flex;
      gap: 1rem;
      justify-content: center;

      li {
        margin-bottom: 0;
      }
    }
  }

  .right,
  .left {
    transition: none;
    transform: none;
  }
}
