.title {
  font-weight: bold;
  position: relative;
  display: inline-block;
  margin-bottom: 0.5em;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    height: 0.5em;
    background: #ffde7d;
    z-index: -1;
    bottom: 0;
    transition: width 0.3s;
  }
}

.small {
  font-size: 2rem;
  line-height: 1.2;

  &::after {
    width: 0;
  }
}

.medium {
  font-size: 3.5rem;
  line-height: 1.2;
  margin-bottom: 1em;

  &::after {
    width: calc(100% + 2rem);
  }
}

@media only screen and (max-width: 800px) {
  .small {
    font-size: 1.5rem;
  }

  .medium {
    font-size: 2.5rem;

    &::after {
      width: 100%;
    }
  }
}
