.title {
  margin-bottom: 0.7em;
}

.description {
  line-height: 1.6;
}

.content {
  display: grid;
  grid-template-columns: 6rem 1fr;
  align-items: start;
  gap: 1.5rem;
}

.link {
  text-decoration: none;
  color: black;

  &:hover {
    .postTitle::after {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 800px) {
  .image {
    display: none;
  }

  .content {
    grid-template-columns: 1fr;
  }
}
