.list {
    &Item {
        margin-bottom: 0.5em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &Link {
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.6;
        }
    }
}